<% include ../partials/header.ejs %>

    <!--MAIN CONTENT-->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <div class="well well-md">
        <h2>About Me</h2>
        </div>
        <div class="panel panel-default">
  <div class="panel-body">
    <h4>Name: Kevin Luu</h4>
    <h4>Birthday: September, 17</h4>
    <h4>Program: Software Engineering - Interactive Gaming</h4>
    <h4>Institution: Centennial College</h4>
    <h4>Course: Emerging Technology</h4>
    <h4>Semester: 6</h4>

    
  </div>
</div>         
        </div>
      </div>
    </div>

<%include ../partials/footer.ejs %>

 