<!--Services Page-->
<% include ../partials/header.ejs %>

    <!--MAIN CONTENT-->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <div class="well well-md">
          <h1><%= title %></h1>
          </div>
           <div class="panel panel-default">
           <div class="panel-body">
           <h2>What I can offer to you: </h2>
           <!--Visual Studio-->
  <div class="media">
  <div class="media-left">
      <img class="media-object" src="Assets/images/VStudio.png" width="40" height="40"  alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Visual Studio 2014/2015</h4>
    <p>I've been using Visual Studio 2014 and Visual Studio 2015 since Semester 1 to create a number of small C# based programs.</p>
  </div>
   <!--HTML-->
  <div class="media">
  <div class="media-left">
      <img class="media-object" src="Assets/images/html.png" width="40" height="40"  alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">HTML 5</h4>
    <p>I've been using HTML5 since Semester 2 to create a number of simple functioning website</p>
  </div>
  <!--Unity-->
          <div class="media">
  <div class="media-left">
      <img class="media-object" src="Assets/images/unity.png" width="40" height="40"  alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Unity</h4>
    <p>I've been using Unity C# since Semester 3 to create a number of small games.</p>
  </div>
  <!--Android-->
  <div class="media">
  <div class="media-left">
      <img class="media-object" src="Assets/images/Android.png" width="40" height="40"  alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Android Studio</h4>
    <p>I've been using Android Studio since Semester 5 to create a number of small apps.</p>
  </div>
  <!--Troubleshooting-->
  <div class="media">
  <div class="media-left">
      <img class="media-object" src="Assets/images/troubleshoot.png" width="40" height="40"  alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Troubleshooting</h4>
    <p>I've been researching about computer repair and software debugging in my spare time.</p>
  </div>
</div>
</div>
</div>

      </div>
    </div>

<%include ../partials/footer.ejs %>

 